.gitignore
.DS_Store
.vscode/
file_rt
Libft/.git
miniRT
minilibx/interface.o
minilibx/libmlx.dylib
minilibx/mlx_image.o
minilibx/mlx_image.swiftdoc
minilibx/mlx_image.swiftmodule
minilibx/mlx_init.o
minilibx/mlx_init.swiftdoc
minilibx/mlx_init.swiftmodule
minilibx/mlx_png.o
minilibx/mlx_string_put.o
minilibx/mlx_window.o
minilibx/mlx_window.swiftdoc
minilibx/mlx_window.swiftmodule
minilibx/mlx_xpm.o
testing_parsing.c
example_subject.rt
objs
save_minirt.sh
